<form>
  <label for="Nombre">Nombre</label>
  <input type="text" id="" #vName placeholder="Escribe tu nombre">

  <label for="dni">DNI</label>
  <input type="text" #vDNI id="" placeholder="Escribe tu dni">

  <div [ngSwitch]="mostrarInfo">
    <div class="correcto" *ngSwitchCase="'DNI correcto'">DNI Correcto</div>
    <div class="incorrecto" *ngSwitchCase="'DNI incorrecto'">DNI Incorrecto</div>
  </div>

  <label for="mensaje">Mensaje</label>
  <input type="text" id="" #vMensaje placeholder="Escribe tu mensaje" />

  <div class="incorrecto texto">{{mostrarInfo2}}</div>

  <input type="button" (click)="enviarDatos(vName, vDNI.value, vMensaje.value)" value="Enviar">
</form>
