@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

form {
  width: 25%;
  margin: 20px;
  padding: 20px;
  background-color: rgb(224, 209, 238);
  border: 2px solid rgb(53, 53, 53);
  border-radius: 14px;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

label{
  font-size: 15px;
  display: block;
  margin: 20px 0 0 0;
}

input {
  background-color: rgb(234, 234, 240);
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

input[type="button"]{
  margin-top: 20px;
  background:  rgb(100, 100, 231);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  transition: all 1s;
}

input[type="button"]:hover{
  background-color: rgb(60, 60, 255);
  color: rgb(255, 91, 91);
  cursor: pointer;
}

.incorrecto {
  color: red;
}

.texto {
  text-align: right;
}

.correcto {
  color: green;
}
